.telescope-status__wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.34rem;
}

/* Center Data in Panel */
.telescope-status__panel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.telescope-status__item {
    padding: 0.67rem 0.67rem;
}

/* Set data and labels positions */

.telescope-status__item {
    display: flex;
}

.telescope-status__panel:not(:first-child) .telescope-status__item p:first-child {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.telescope-status__panel:not(:first-child) .telescope-status__item p:last-child {;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.telescope-status__item p {
    margin: 0;
    display: flex;
    text-align: center;
}

.telescope-status__item p {
    flex-direction: column-reverse;
}

/* Centering Telescope Status Data Separation Lines */
.telescope-status__panel:not(:first-child) .telescope-status__item {
    width: 100%;
}

.telescope-status__panel:not(:first-child) .telescope-status__item p {
    width: 50%;
}

/* Fonts */

.telescope-status__item p {
    font-size: 1.4rem;
}

.telescope-status__item p span {
    font-size: 0.9rem;
}